{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIFarmPredict</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- 검은색 탑바 -->
    <header class="topbar">
        대한민국 작물 생산량 예측 시스템
    </header>

    <!-- 왼쪽 고정 사이드바 -->
    <nav class="sidebar">
        <ul>
            <li class="menu-title">메인 시스템</li>
            <li><img src="{% static 'images/Home-icon.svg' %}" width="24"><a href="{% url 'main:mainpage' %}">메인페이지</a></li>

            <li class="menu-title">상세 데이터</li>
            <li><img src="{% static 'images/weather-icon.svg' %}" width="24"><a href="{% url 'main:weatherpage' %}">기상데이터</a></li>
            <li><img src="{% static 'images/Temperature-icon.svg' %}" width="24"><a href="{% url 'main:soilpage' %}">토양데이터</a></li>
            <li><img src="{% static 'images/cabbage.svg' %}" width="24"><a href="{% url 'main:cabbagepage' %}">배추데이터</a></li>
            <li><img src="{% static 'images/onion.svg' %}" width="24"><a href="{% url 'main:onionpage' %}">양파데이터</a></li>
            <li><img src="{% static 'images/future.svg' %}" width="24"><a href="{% url 'main:futuredatapage' %}">미래데이터</a></li>
            <li class="menu-title">예측 시스템</li>
            <li><img src="{% static 'images/forecast.svg' %}" width="24"><a href="{% url 'main:cabbageforecast' %}">배추예측량</a></li>
            <li><img src="{% static 'images/forecast.svg' %}" width="24"><a href="{% url 'main:onionforecast' %}">양파예측량</a></li>
            <li><img src="{% static 'images/score.svg' %}" width="24"><a href="{% url 'main:scorepage' %}">예측량순위</a></li>
        </ul>
        <footer class="dongguk-footer">
            <div class="dongguk-container">
                <img src="{% static 'images/dongguk1.jpg' %}" alt="동국대학교 로고" class="dongguk-logo">
                <div class="dongguk-text-group">
                    <div class="dongguk-powered">Made by 동국대학교</div>
                    <div class="dongguk-lab">SBO연구실</div>
                </div>
            </div>
        </footer>


    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>
