{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'main/__searchbar.html' %}
    <!-- 📊 데이터 박스 & 지도 컨테이너 -->
    <div class="bottom-section">
        <div class="data-container">
            <div class="leftdata-container">
                <div class="topdata1-container">
                    <p class="topdata1-text">기상 데이터</p>
                </div>
                <div class="bottomdata1-container">
                    <div class="weather-row">
                        <img src="{% static 'images/T1-icon.svg' %}" alt="온도" class="weather-icon">
                        <div class="weather-text">
                            <p>최저온도 : 
                                <a href="{% url 'main:weatherpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                                {{ weather.min_temp }}
                                </a>
                                °C
                            </p>
                            <p>최고온도 : 
                                <a href="{% url 'main:weatherpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                                {{ weather.max_temp }}
                                </a>
                                °C
                            </p>
                        </div>
                    </div>
                
                    <div class="weather-row">
                        <img src="{% static 'images/T2-icon.svg' %}" alt="습도" class="weather-icon">
                        <p class="weather-text">습도 : 
                            <a href="{% url 'main:weatherpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                            {{ weather.humidity }}
                            </a>
                            %
                        </p>
                    </div>
                
                    <div class="weather-row">
                        <img src="{% static 'images/T3-icon.svg' %}" alt="풍속" class="weather-icon">
                        <p class="weather-text">풍속 : 
                            <a href="{% url 'main:weatherpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                            {{ weather.wind_speed }}
                            </a>
                            m/s
                        </p>
                    </div>
                
                    <div class="weather-row">
                        <img src="{% static 'images/T4-icon.svg' %}" alt="일사량" class="weather-icon">
                        <p class="weather-text">일사량 : 
                            <a href="{% url 'main:weatherpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                            {{ weather.solar_radiation }}
                            </a>
                            MJ/m²
                        </p>
                    </div>
                
                    <div class="weather-row">
                        <img src="{% static 'images/T5-icon.svg' %}" alt="강수량" class="weather-icon">
                        <p class="weather-text">강수량 : 
                            <a href="{% url 'main:weatherpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                            {{ weather.avg_precipitation }}
                            </a>
                            mm
                        </p>
                    </div>
                </div>
            </div>
        
            <!-- 🔽 아래쪽 데이터 컨테이너 -->
            <div class="rightdata-container">
                <div class="topdata2-container">
                    <p class="topdata2-text">토양 데이터</p>
                </div>
                <div class="bottomdata2-container">
                    <p class="soil-text">산도 :&nbsp;
                        <a href="{% url 'main:soilpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                        {{ soil.ph }}
                        </a>
                        pH
                    </p>
                    <p class="soil-text">유기물 :&nbsp;
                        <a href="{% url 'main:soilpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                        {{ soil.organic_matter }}
                        </a>
                        %
                    </p>
                    <p class="soil-text">유효인산 :&nbsp;
                        <a href="{% url 'main:soilpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                        {{ soil.available_phosphorus }}
                        </a>
                        mg/kg
                    </p>
                    <p class="soil-text">칼륨 :&nbsp;
                        <a href="{% url 'main:soilpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                        {{ soil.potassium }}
                        </a>
                        cmol/kg
                    </p>
                    <p class="soil-text">칼슘 :&nbsp;
                        <a href="{% url 'main:soilpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                        {{ soil.calcium }}
                        </a>
                        cmol/kg
                    </p>
                    <p class="soil-text">마그네슘 :&nbsp;
                        <a href="{% url 'main:soilpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                        {{ soil.magnesium }}
                        </a>
                    </p>
                    <p class="soil-text">질소 :&nbsp;
                        <a href="{% url 'main:soilpage' %}?sido={{ request.GET.sido }}&sigungu={{ request.GET.sigungu }}&eupmyeondong={{ request.GET.eupmyeondong }}">
                        {{ soil.nitrogen }}
                        </a>
                        %
                    </p>
                </div>
            </div>
        </div>
        <div class="map-container">
            <div id="map"></div>
        </div>
<!-- 카카오 지도 API 추가 -->
<script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey={{ kakao_api_key }}"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var latitude = parseFloat("{{ latitude }}");
        var longitude = parseFloat("{{ longitude }}");

        var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new kakao.maps.LatLng(latitude, longitude), // 위도, 경도
                level: 12 // 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption);

        // 마커 설정
        var markerPosition = new kakao.maps.LatLng(latitude, longitude);
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커 지도에 추가
        marker.setMap(map);
    });
</script>
{% endblock %}
