{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ✅ 검색바 include -->
{% include 'main/__searchbar.html' %}

{% if soil_data %}
    <table class="soil-table">
        <thead>
            <tr>
                <th>년도</th>
                <th>산도(pH)</th>
                <th>유기물(g/kg)</th>
                <th>유효인산(mg/kg)</th>
                <th>칼륨(cmol+/kg)</th>
                <th>칼슘(cmol+/kg)</th>
                <th>마그네슘(cmol(+)/kg)</th>
                <th>질소(%)</th>
            </tr>
        </thead>
        <tbody>
            {% for s in soil_data %}
            <tr>
                <td>{{ s.year }}</td>
                <td>{{ s.ph }}</td>
                <td>{{ s.organic_matter }}</td>
                <td>{{ s.available_phosphorus }}</td>
                <td>{{ s.potassium }}</td>
                <td>{{ s.calcium }}</td>
                <td>{{ s.magnesium }}</td>
                <td>{{ s.nitrogen }}</td>
            </tr>
            {% endfor %}

            <!-- 평균 행 -->
            {% if soil_avg %}
            <tr>
                <td>{{ soil_avg.year}}</td>
                <td>{{ soil_avg.ph }}</td>
                <td>{{ soil_avg.organic_matter }}</td>
                <td>{{ soil_avg.available_phosphorus }}</td>
                <td>{{ soil_avg.potassium }}</td>
                <td>{{ soil_avg.calcium }}</td>
                <td>{{ soil_avg.magnesium }}</td>
                <td>{{ soil_avg.nitrogen }}</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
{% else %}

{% endif %}

{% endblock %}
